<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>
	<listener>
		<listener-class>
			org.kgj.pds.playlist.metier.serveurHttp.ServeurHttpPersistenceSideBoot
		</listener-class>
	</listener>
	<servlet>
		<servlet-name>ServeurHttpPersistenceSide</servlet-name>
		<display-name>ServeurHttpPersistenceSide</display-name>
		<description></description>
		<servlet-class>org.kgj.pds.playlist.metier.serveurHttp.ServeurHttpPersistenceSide</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServeurHttpPersistenceSide</servlet-name>
		<url-pattern>/setMessage</url-pattern>
	</servlet-mapping>
</web-app>
